.tab-holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  label {
    flex-grow: 1;
    height: 40px;
    display: inline-block;
    background: #eee;
    cursor: hand;
    border-left: 10px solid #ccc;
    &:hover {
      background: white;
    }
  }
  .content {
    height: 300px;
    width: 100%;
    flex-basis: auto;
    display:block;
  }

  label.active {
    border-left: 10px solid hotpink;
    background: white;
  }
}